@import '~src/assets/styles/variables';

button[type='button'] {
  border: 0;
  background: transparent;
  font-size: 18px;

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &.success { color: $success; }
  &.danger { color: $danger; }
}
