@import '~src/assets/styles/variables';

.navLink,
.link {
  display: inline-block;
  margin: 0 12px;
  color: $linkColor;
  font-size: 18px;

  &.active {
    color: $linkActiveColor;
    text-shadow: 0 0 0 $linkActiveColor;
  }
}
